:root {
	--main-color1: #f9f9ff;
	--main-color2: linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
	--text-color1: #777;
}

@media (prefers-reduced-motion: no-preference) {
	* {
	  scroll-behavior: smooth;
	}
  }

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: inherit;
}

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside,
section {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "Poppins", sans-serif;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

.wrapper {
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column;
}

.container {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0px auto;
}

#welcome-section {
	background: url(https://img.freepik.com/free-photo/light-background-with-texture-of-concrete-space-for-text_418871-436.jpg);
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
  	background-position: center center;
  	background-attachment: fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
}

.welcome-section .row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin-top: -20px;
}

.intro, .portrait  {
	max-width: 50%;
}

.intro h6 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
}

.intro h1 {
	text-transform: uppercase;
	margin: 20px 0;
	font-size: 40px;
}

.intro p{
	font-size: 17px;
	padding-right: 10px;
	line-height: 1.5;
}

h2 {
	font-size: 4rem;
	font-weight: 600;
	text-align: center;
	padding: 3rem;
	background-image: linear-gradient(90deg,#8490ff,#62bdfc);
	-webkit-background-clip: text;
	color: transparent;
}

#projects {
	background-color: rgb(67, 81, 110);
	padding: 3rem;
	text-align: center;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 4rem;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 6rem;
}

.project-image {
	object-fit: initial;
	width: 100%;
	height: calc(100%-6rem);
}

.project-tile {
	border: 1px solid #777;
	border-radius: 10px;
	background-color: #777;
	transition: all 1.3s ease 0s;
}

.project-tile:hover {
	background: linear-gradient(90deg,#8490ff,#62bdfc);
}
	

.project-tile a{
	font-size: 1.8rem;
	color: white;
}

.project-title {
	padding: 1rem 0.5rem;
}

main {
	padding-top: 80px;
}

#welcome-section, #contacts, #projects {
	border-top: 80px solid transparent;
	margin-top: -80px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.header {
	transition: all 0.5s;
	box-shadow: -21.213px 21.213px 30px 0 rgb(158 158 158 / 30%);
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.header-row {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.navbar ul {
	display: flex;
	position: relative;
	z-index: 2;
}

.navbar li {
	font-size: 2rem;	
	margin-left: 20px;
}

.navbar a {
	color: black;
}

.navbar a:hover {
	background-color: aliceblue;
	border-radius: 10px;
}


@media (max-width:1200px) {
	.container {
		max-width: 970px;
	}
}


@media (max-width:992px) {
	.container {
		max-width: 750px;
	}
	body.lock {
		overflow: hidden;
	}
	.container {
		max-width: none;
	}
	.header-row {
		height: 50px;
	}
	.header-logo {
		/*изменить если не svg*/
	}
	.header .header-burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.header .header-burger span {
		position: absolute;
		/*background: linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);*/
		background-color: #244184;
		width: 100%;
		height: 3px;
		left: 0;
		top: 8.45px;
		transition: all 0.3s ease 0s;
	}
	.header .header-burger::before,
	.header .header-burger::after {
		content: '';
		position: absolute;
		background-color: #244184;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header .header-burger::before {
		top: 0;
	}
	.header .header-burger::after {
		bottom: 0;
	}
	.navbar {
		position: fixed;
		left: 0; top: -150%;
		background: linear-gradient(180deg,#8490ff 0%,#62bdfc 100%);
		width: 100%;
		height: fit-content;
		padding: 100px 0px 20px 0px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.navbar.active {
		top: 0;
	}

	.navbar ul {
		display: block;
		text-align: center;
	}
	.navbar li {
		margin-bottom: 20px;
		font-size: 2rem;
	}
	.header-burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header-burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header-burger.active span{
		background-color: transparent;
	}
	main {
		padding-top: 50px;
	}
	.project-header {
		font-size: 3rem;
	}
	.project-tile {
		background: linear-gradient(90deg,#8490ff,#62bdfc);
	}


}

@media (max-width:767px) {
	body.lock {
		overflow: hidden;
	}
	.container {
		max-width: none;
	}
	.header-row {
		height: 50px;
	}
	.header-logo {
		/*изменить если не svg*/
	}
	.header .header-burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.header .header-burger span {
		position: absolute;
		/*background: linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);*/
		background-color: #244184;
		width: 100%;
		height: 3px;
		left: 0;
		top: 8.45px;
		transition: all 0.3s ease 0s;
	}
	.header .header-burger::before,
	.header .header-burger::after {
		content: '';
		position: absolute;
		background-color: #244184;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header .header-burger::before {
		top: 0;
	}
	.header .header-burger::after {
		bottom: 0;
	}
	.navbar {
		position: fixed;
		left: 0; top: -150%;
		background: linear-gradient(180deg,#8490ff 0%,#62bdfc 100%);
		width: 100%;
		height: fit-content;
		padding: 100px 0px 20px 0px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.navbar.active {
		top: 0;
	}

	.navbar ul {
		display: block;
		text-align: center;
	}
	.navbar li {
		margin-bottom: 20px;
		font-size: 1.2rem;
	}
	.header-burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header-burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header-burger.active span{
		background-color: transparent;
	}
	main {
		padding-top: 50px;
	}
	.project-grid {
		grid-template-columns: 1fr;
		grid-gap: 3rem;
	}
	.project-header {
		font-size: 3rem;
	}
	.welcome-section .row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		margin-top: 20px;
	}
	#welcome-section {
		height: 100%;
	}
	.intro, .portrait  {
		max-width: 100%;
		padding-bottom: 30px;
	}
	.portrait img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	.project-tile {
		background: linear-gradient(90deg,#8490ff,#62bdfc);
	}
	.social-grid {
		grid-template-columns: 1fr;
	}
	footer span{
		font-size: 7rem;
	} 

}

.header-burger {
	display: none;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,
	white 50%,
	#999);
	z-index: 2;
}

.header-logo {
	position: relative;
	z-index: 3;
}

.social-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	place-items: center;
	padding-bottom: 4rem;
	min-height: 50vh;
	grid-gap: 4rem;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 6rem;
}

#contacts h2 {
	padding-top: 6rem;
}

.social-grid a{
	font-size: 2rem;
	color: black;
	text-shadow: 2px 2px 1px #1f1f1f;
	font-weight: 200;
}

.social-grid i{
	background: linear-gradient(90deg,#8490ff,#62bdfc);
	-webkit-background-clip: text;
	color: transparent;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #04091e;
	min-height: 50vh;
	color: #f9f9ff;
	font-size: 17rem;
	font-style: italic;
	font-weight: 900;
}

footer span{
	background-image: linear-gradient(90deg,#8490ff,#62bdfc);
	-webkit-background-clip: text;
	color: transparent;
}

a.btn {
	transition: transform 0.15s;
	transform-style: preserve-3d;
}

a.btn::before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: inherit;
	box-shadow: 0 0 0 2px transparent, 0 0.625em 0 0 transparent;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 0.15s, box-shadow 0.15s;
}
  
a.btn:hover {
	transform: translate(0, 0.25em);
}

a.btn:hover::before {
	box-shadow: 0 0 0 2px transparent, 0 0.5em 0 0 transparent;
	transform: translate3d(0, 0.5em, -1em);
}

a.btn:active {
	transform: translate(0em, 0.75em);
}

a.btn:active::before {
	box-shadow: 0 0 0 2px transparent, 0 0 transparent;
	transform: translate3d(0, 0, -1em);
}